<div class = "buffer-top">
    <%= link_to 'New task', new_task_path(), class: 'btn btn-primary' %>
</div>
<div class = "buffer-top">
    <% @tasks.each do |task| %>
        <%= render partial: 'task', object: task %>
    <% end %>

    <hr />

    <% @completed_tasks.each do |task| %>
        <%= render partial: 'task', object: task %>
    <% end %>
</div>
</div>